.ortala{
    text-align: center;
}

body{
    background-color: beige;
}

#result_kare{
    font-weight: bolder;
    color: brown;
    font-size: 40px;
    margin-top: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
}